USE [master]
GO
/****** Object:  Database [Unistart2]    Script Date: 04-07-2018 8:49:18 AM ******/
CREATE DATABASE [Unistart2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Unistart2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Unistart2.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Unistart2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Unistart2_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Unistart2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Unistart2]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[AnswerDetail] [nvarchar](max) NOT NULL,
	[GenititeId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Article]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleId] [int] IDENTITY(1,1) NOT NULL,
	[SchoolId] [int] NULL,
	[Link] [nvarchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_article] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Branch]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Branch](
	[SchoolId] [int] NOT NULL,
	[BranchNo] [int] NOT NULL,
	[BranchName] [nvarchar](100) NOT NULL,
	[LocationId] [int] NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [varchar](20) NULL,
	[Website] [nvarchar](500) NULL,
 CONSTRAINT [PK_branch] PRIMARY KEY CLUSTERED 
(
	[SchoolId] ASC,
	[BranchNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Character]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Character](
	[CharacterId] [int] NOT NULL,
	[CharacterCode] [nvarchar](5) NOT NULL,
	[CharacterContent] [nvarchar](max) NOT NULL,
	[CharacterName] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Character] PRIMARY KEY CLUSTERED 
(
	[CharacterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EntranceInfo]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntranceInfo](
	[SchoolId] [int] NOT NULL,
	[FieldId] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[FieldSubCode] [nvarchar](10) NULL,
	[NormalEntranceAmount] [int] NULL,
	[OtherEntranceAmount] [int] NULL,
	[SjCombiCode1] [nvarchar](5) NULL,
	[Main_sjCode1] [nvarchar](5) NULL,
	[SjCombiCode2] [nvarchar](5) NULL,
	[Main_sjCode2] [nvarchar](5) NULL,
	[SjCombiCode3] [nvarchar](5) NULL,
	[Main_sjCode3] [nvarchar](5) NULL,
	[SjCombiCode4] [nvarchar](5) NULL,
	[Main_sjCode4] [nvarchar](5) NULL,
 CONSTRAINT [PK_EntranceInfo_1] PRIMARY KEY CLUSTERED 
(
	[SchoolId] ASC,
	[FieldId] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Field]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Field](
	[FieldId] [int] IDENTITY(1,1) NOT NULL,
	[FieldCode] [nvarchar](20) NOT NULL,
	[FieldName] [nvarchar](100) NOT NULL,
	[FieldTypeId] [int] NOT NULL,
	[PreFieldId] [int] NULL,
 CONSTRAINT [PK_field] PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FieldType]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldType](
	[FieldTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_fieldType] PRIMARY KEY CLUSTERED 
(
	[FieldTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genitite]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genitite](
	[GenitiveId] [int] NOT NULL,
	[GentiveCode] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Genitite] PRIMARY KEY CLUSTERED 
(
	[GenitiveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NULL,
	[RegionId] [int] NULL,
 CONSTRAINT [PK_location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Question]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionDetail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rate]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[RateId] [int] IDENTITY(1,1) NOT NULL,
	[SchoolId] [int] NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Pros] [text] NULL,
	[Cons] [text] NULL,
	[Experience] [text] NULL,
	[Encourage] [bit] NULL,
	[UserLike] [int] NULL,
	[UserDislike] [int] NULL,
	[Anonymous] [bit] NULL,
 CONSTRAINT [PK_rate] PRIMARY KEY CLUSTERED 
(
	[RateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RateCriteria]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateCriteria](
	[CriteriaId] [int] IDENTITY(1,1) NOT NULL,
	[CriteriaName] [nvarchar](255) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RateDetail]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateDetail](
	[RateId] [int] NOT NULL,
	[CriteriaId] [int] NOT NULL,
	[Value] [float] NULL,
 CONSTRAINT [PK_rateDetail] PRIMARY KEY CLUSTERED 
(
	[RateId] ASC,
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Region]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionId] [int] NOT NULL,
	[RegionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_region] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Report]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[RateId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[RpContent] [text] NOT NULL,
 CONSTRAINT [PK_report] PRIMARY KEY CLUSTERED 
(
	[RateId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[School]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[School](
	[SchoolId] [int] IDENTITY(1,1) NOT NULL,
	[SchoolName] [nvarchar](100) NOT NULL,
	[SchoolCode] [nvarchar](50) NULL,
	[TypeId] [int] NULL,
	[Website] [nvarchar](500) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Avatar] [nvarchar](500) NULL,
 CONSTRAINT [PK_school] PRIMARY KEY CLUSTERED 
(
	[SchoolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectCode] [nvarchar](5) NOT NULL,
	[SubjectName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_subject] PRIMARY KEY CLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubjectCombination]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectCombination](
	[SjCombiCode] [nvarchar](5) NOT NULL,
	[SjCode1] [nvarchar](5) NULL,
	[SjCode2] [nvarchar](5) NULL,
	[SjCode3] [nvarchar](5) NULL,
 CONSTRAINT [PK_subjectCombination] PRIMARY KEY CLUSTERED 
(
	[SjCombiCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_type] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 04-07-2018 8:49:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Name] [nvarchar](200) NULL,
	[Avatar] [nvarchar](500) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([AnswerId], [AnswerDetail], [GenititeId], [QuestionId]) VALUES (1, N'Nói nhiều hơn là nghe người khác nói', 1, 1)
INSERT [dbo].[Answer] ([AnswerId], [AnswerDetail], [GenititeId], [QuestionId]) VALUES (2, N'Lắng nghe người khác nhiều hơn là nói', 2, 1)
INSERT [dbo].[Answer] ([AnswerId], [AnswerDetail], [GenititeId], [QuestionId]) VALUES (3, N'Thường chú ý đến những vấn đề tiểu tiết', 3, 1)
SET IDENTITY_INSERT [dbo].[Answer] OFF
INSERT [dbo].[Character] ([CharacterId], [CharacterCode], [CharacterContent], [CharacterName]) VALUES (2, N'ENFP', N'(Extrovert, Intuitive, Feeler, Perceiver)', N'Thật tuyệt vời! Bạn rất thông minh và luôn muốn học hỏi nhiều hơn. Bạn là người hay nói nhưng ưu điểm của bạn là hoạt ngôn, ăn nói có duyên nên luôn khiến mọi người thoải mái với những câu chuyện trò thông minh, dí dỏm. ')
INSERT [dbo].[Character] ([CharacterId], [CharacterCode], [CharacterContent], [CharacterName]) VALUES (3, N'ENTJ', N'(Extrovert, Intuitive, Thinker, Judger)', N'Bạn khá thân thiện với mọi người. Tuy nhiên, vì là người rất kiên quyết và thẳng tính nên đôi khi bạn có thể làm tổn thương người khác. ')
SET IDENTITY_INSERT [dbo].[Field] ON 

INSERT [dbo].[Field] ([FieldId], [FieldCode], [FieldName], [FieldTypeId], [PreFieldId]) VALUES (1, N'5', N'Trung Cấp', 1, NULL)
INSERT [dbo].[Field] ([FieldId], [FieldCode], [FieldName], [FieldTypeId], [PreFieldId]) VALUES (2, N'6', N'Cao Đẳng', 1, NULL)
INSERT [dbo].[Field] ([FieldId], [FieldCode], [FieldName], [FieldTypeId], [PreFieldId]) VALUES (3, N'7', N'Đại Học', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Field] OFF
SET IDENTITY_INSERT [dbo].[FieldType] ON 

INSERT [dbo].[FieldType] ([FieldTypeId], [TypeName]) VALUES (1, N'Bậc Đào Tạo')
INSERT [dbo].[FieldType] ([FieldTypeId], [TypeName]) VALUES (2, N'Khối ngành')
INSERT [dbo].[FieldType] ([FieldTypeId], [TypeName]) VALUES (3, N'Nhóm ngành')
SET IDENTITY_INSERT [dbo].[FieldType] OFF
INSERT [dbo].[Genitite] ([GenitiveId], [GentiveCode]) VALUES (1, N'E')
INSERT [dbo].[Genitite] ([GenitiveId], [GentiveCode]) VALUES (2, N'I')
INSERT [dbo].[Genitite] ([GenitiveId], [GentiveCode]) VALUES (3, N'S')
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionId], [QuestionDetail]) VALUES (1, N'Nếu dùng một câu để miêu tả về mình, bạn sẽ nói?')
INSERT [dbo].[Question] ([QuestionId], [QuestionDetail]) VALUES (2, N'Trong những buổi họp mặt hay tranh luận cùng bạn bè, bạn thường?')
INSERT [dbo].[Question] ([QuestionId], [QuestionDetail]) VALUES (3, N'Quan điểm sống của bạn là gì?')
SET IDENTITY_INSERT [dbo].[Question] OFF
SET IDENTITY_INSERT [dbo].[School] ON 

INSERT [dbo].[School] ([SchoolId], [SchoolName], [SchoolCode], [TypeId], [Website], [Phone], [Email], [Avatar]) VALUES (1, N'	Khoa Y dược - Đại học Đà Nẵng', N'DDY', 1, N'www.smp.udn.vn', N'0236399045701', N'sss@sd', N'sd')
SET IDENTITY_INSERT [dbo].[School] OFF
INSERT [dbo].[Subject] ([SubjectCode], [SubjectName]) VALUES (N'HO', N'Hóa')
INSERT [dbo].[Subject] ([SubjectCode], [SubjectName]) VALUES (N'LI', N'Lí')
INSERT [dbo].[Subject] ([SubjectCode], [SubjectName]) VALUES (N'TO', N'Toán')
INSERT [dbo].[SubjectCombination] ([SjCombiCode], [SjCode1], [SjCode2], [SjCode3]) VALUES (N'A00', N'TO', N'LI', N'HO')
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([TypeId], [TypeName]) VALUES (1, N'Công Lập')
SET IDENTITY_INSERT [dbo].[Type] OFF
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF_article_status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Genitite] FOREIGN KEY([GenititeId])
REFERENCES [dbo].[Genitite] ([GenitiveId])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Genitite]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_article_school] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[School] ([SchoolId])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_article_school]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_branch_location] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_branch_location]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_branch_school] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[School] ([SchoolId])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_branch_school]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_field] FOREIGN KEY([FieldId])
REFERENCES [dbo].[Field] ([FieldId])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_field]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_school] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[School] ([SchoolId])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_school]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_subject] FOREIGN KEY([Main_sjCode1])
REFERENCES [dbo].[Subject] ([SubjectCode])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_subject]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_subject1] FOREIGN KEY([Main_sjCode2])
REFERENCES [dbo].[Subject] ([SubjectCode])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_subject1]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_subject2] FOREIGN KEY([Main_sjCode3])
REFERENCES [dbo].[Subject] ([SubjectCode])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_subject2]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_subject3] FOREIGN KEY([Main_sjCode4])
REFERENCES [dbo].[Subject] ([SubjectCode])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_subject3]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_subjectCombination] FOREIGN KEY([SjCombiCode1])
REFERENCES [dbo].[SubjectCombination] ([SjCombiCode])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_subjectCombination]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_subjectCombination1] FOREIGN KEY([SjCombiCode2])
REFERENCES [dbo].[SubjectCombination] ([SjCombiCode])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_subjectCombination1]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_subjectCombination2] FOREIGN KEY([SjCombiCode3])
REFERENCES [dbo].[SubjectCombination] ([SjCombiCode])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_subjectCombination2]
GO
ALTER TABLE [dbo].[EntranceInfo]  WITH CHECK ADD  CONSTRAINT [FK_entranceInfo_subjectCombination3] FOREIGN KEY([SjCombiCode4])
REFERENCES [dbo].[SubjectCombination] ([SjCombiCode])
GO
ALTER TABLE [dbo].[EntranceInfo] CHECK CONSTRAINT [FK_entranceInfo_subjectCombination3]
GO
ALTER TABLE [dbo].[Field]  WITH CHECK ADD  CONSTRAINT [FK_field_field] FOREIGN KEY([PreFieldId])
REFERENCES [dbo].[Field] ([FieldId])
GO
ALTER TABLE [dbo].[Field] CHECK CONSTRAINT [FK_field_field]
GO
ALTER TABLE [dbo].[Field]  WITH CHECK ADD  CONSTRAINT [FK_field_fieldType] FOREIGN KEY([FieldTypeId])
REFERENCES [dbo].[FieldType] ([FieldTypeId])
GO
ALTER TABLE [dbo].[Field] CHECK CONSTRAINT [FK_field_fieldType]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_location_region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([RegionId])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_location_region]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [FK_rate_school] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[School] ([SchoolId])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [FK_rate_school]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [FK_rate_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [FK_rate_user]
GO
ALTER TABLE [dbo].[RateDetail]  WITH CHECK ADD  CONSTRAINT [FK_rateDetail_rate] FOREIGN KEY([RateId])
REFERENCES [dbo].[Rate] ([RateId])
GO
ALTER TABLE [dbo].[RateDetail] CHECK CONSTRAINT [FK_rateDetail_rate]
GO
ALTER TABLE [dbo].[RateDetail]  WITH CHECK ADD  CONSTRAINT [FK_rateDetail_rateCriteria] FOREIGN KEY([CriteriaId])
REFERENCES [dbo].[RateCriteria] ([CriteriaId])
GO
ALTER TABLE [dbo].[RateDetail] CHECK CONSTRAINT [FK_rateDetail_rateCriteria]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_report_rate] FOREIGN KEY([RateId])
REFERENCES [dbo].[Rate] ([RateId])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_report_rate]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_report_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_report_user]
GO
ALTER TABLE [dbo].[School]  WITH CHECK ADD  CONSTRAINT [FK_school_type1] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([TypeId])
GO
ALTER TABLE [dbo].[School] CHECK CONSTRAINT [FK_school_type1]
GO
ALTER TABLE [dbo].[SubjectCombination]  WITH CHECK ADD  CONSTRAINT [FK_subjectCombination_subject] FOREIGN KEY([SjCode1])
REFERENCES [dbo].[Subject] ([SubjectCode])
GO
ALTER TABLE [dbo].[SubjectCombination] CHECK CONSTRAINT [FK_subjectCombination_subject]
GO
ALTER TABLE [dbo].[SubjectCombination]  WITH CHECK ADD  CONSTRAINT [FK_subjectCombination_subject1] FOREIGN KEY([SjCode2])
REFERENCES [dbo].[Subject] ([SubjectCode])
GO
ALTER TABLE [dbo].[SubjectCombination] CHECK CONSTRAINT [FK_subjectCombination_subject1]
GO
ALTER TABLE [dbo].[SubjectCombination]  WITH CHECK ADD  CONSTRAINT [FK_subjectCombination_subject2] FOREIGN KEY([SjCode3])
REFERENCES [dbo].[Subject] ([SubjectCode])
GO
ALTER TABLE [dbo].[SubjectCombination] CHECK CONSTRAINT [FK_subjectCombination_subject2]
GO
USE [master]
GO
