USE [master]
GO
/****** Object:  Database [Unistart]    Script Date: 02-07-2018 9:30:37 AM ******/
CREATE DATABASE [Unistart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Unistart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Unistart.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Unistart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Unistart_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Unistart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Unistart]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](500) NOT NULL,
	[UniversityId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[Address] [nvarchar](4000) NOT NULL,
	[Phone] [nchar](200) NULL,
	[Website] [nvarchar](500) NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Introduce]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Introduce](
	[IntroduceId] [int] IDENTITY(1,1) NOT NULL,
	[UniversityId] [int] NOT NULL,
	[Link] [nvarchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Introduce] PRIMARY KEY CLUSTERED 
(
	[IntroduceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Level]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[LevelId] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[SubLocationId] [int] NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rate]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[RateId] [int] IDENTITY(1,1) NOT NULL,
	[UniversityId] [int] NOT NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Pros] [text] NULL,
	[Cons] [text] NULL,
	[Experience] [text] NULL,
	[Encourage] [bit] NULL,
	[Status] [int] NOT NULL,
	[Anonymous] [bit] NOT NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[RateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RateCriteria]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateCriteria](
	[CriteriaId] [int] IDENTITY(1,1) NOT NULL,
	[CriteriaName] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_RateCriteria] PRIMARY KEY CLUSTERED 
(
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RateDetail]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateDetail](
	[RateId] [int] NOT NULL,
	[CriteriaId] [int] NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_RateDetail] PRIMARY KEY CLUSTERED 
(
	[RateId] ASC,
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubLocation]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubLocation](
	[SubLocationId] [int] IDENTITY(1,1) NOT NULL,
	[SubLocationName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SubLocation] PRIMARY KEY CLUSTERED 
(
	[SubLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Test]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[Id] [int] NOT NULL,
	[UniversityId] [int] NOT NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[University]    Script Date: 02-07-2018 9:30:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[University](
	[UniversityId] [int] IDENTITY(1,1) NOT NULL,
	[UniversityName] [nvarchar](500) NOT NULL,
	[UniversityCode] [nvarchar](50) NOT NULL,
	[Website] [nchar](500) NULL,
	[TypeId] [int] NOT NULL,
	[LevelId] [int] NOT NULL,
	[Avatar] [nvarchar](500) NULL,
 CONSTRAINT [PK_University] PRIMARY KEY CLUSTERED 
(
	[UniversityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([BranchId], [BranchName], [UniversityId], [LocationId], [Address], [Phone], [Website]) VALUES (1, N'a', 1, 1, N'1', N'1                                                                                                                                                                                                       ', NULL)
SET IDENTITY_INSERT [dbo].[Branch] OFF
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([LevelId], [LevelName]) VALUES (1, N'Đại Học')
INSERT [dbo].[Level] ([LevelId], [LevelName]) VALUES (2, N'Cao Đẳng')
SET IDENTITY_INSERT [dbo].[Level] OFF
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationId], [LocationName], [SubLocationId]) VALUES (1, N'Hà Nội', 1)
INSERT [dbo].[Location] ([LocationId], [LocationName], [SubLocationId]) VALUES (2, N'Hồ Chí Minh', 2)
SET IDENTITY_INSERT [dbo].[Location] OFF
SET IDENTITY_INSERT [dbo].[SubLocation] ON 

INSERT [dbo].[SubLocation] ([SubLocationId], [SubLocationName]) VALUES (1, N'Miền Bắc')
INSERT [dbo].[SubLocation] ([SubLocationId], [SubLocationName]) VALUES (2, N'Miền Nam')
SET IDENTITY_INSERT [dbo].[SubLocation] OFF
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([TypeId], [TypeName]) VALUES (1, N'Công lập')
INSERT [dbo].[Type] ([TypeId], [TypeName]) VALUES (2, N'Ngoài Công Lập')
SET IDENTITY_INSERT [dbo].[Type] OFF
SET IDENTITY_INSERT [dbo].[University] ON 

SET IDENTITY_INSERT [dbo].[University] OFF
ALTER TABLE [dbo].[RateCriteria] ADD  CONSTRAINT [DF_RateCriteria_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_Location] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_Location]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_University] FOREIGN KEY([UniversityId])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_University]
GO
ALTER TABLE [dbo].[Introduce]  WITH CHECK ADD  CONSTRAINT [FK_Introduce_University] FOREIGN KEY([UniversityId])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[Introduce] CHECK CONSTRAINT [FK_Introduce_University]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_SubLocation] FOREIGN KEY([SubLocationId])
REFERENCES [dbo].[SubLocation] ([SubLocationId])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_SubLocation]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [FK_Rate_University] FOREIGN KEY([UniversityId])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [FK_Rate_University]
GO
ALTER TABLE [dbo].[RateDetail]  WITH CHECK ADD  CONSTRAINT [FK_RateDetail_Rate] FOREIGN KEY([RateId])
REFERENCES [dbo].[Rate] ([RateId])
GO
ALTER TABLE [dbo].[RateDetail] CHECK CONSTRAINT [FK_RateDetail_Rate]
GO
ALTER TABLE [dbo].[RateDetail]  WITH CHECK ADD  CONSTRAINT [FK_RateDetail_RateCriteria] FOREIGN KEY([CriteriaId])
REFERENCES [dbo].[RateCriteria] ([CriteriaId])
GO
ALTER TABLE [dbo].[RateDetail] CHECK CONSTRAINT [FK_RateDetail_RateCriteria]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_University] FOREIGN KEY([UniversityId])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_University]
GO
ALTER TABLE [dbo].[University]  WITH CHECK ADD  CONSTRAINT [FK_University_Level] FOREIGN KEY([LevelId])
REFERENCES [dbo].[Level] ([LevelId])
GO
ALTER TABLE [dbo].[University] CHECK CONSTRAINT [FK_University_Level]
GO
ALTER TABLE [dbo].[University]  WITH CHECK ADD  CONSTRAINT [FK_University_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([TypeId])
GO
ALTER TABLE [dbo].[University] CHECK CONSTRAINT [FK_University_Type]
GO
USE [master]
GO
