<div class="row">
  <div class="col-md-4" data-plugin-portlet id="portlet-1" *ngFor="let u of Universitys">

<section class="panel panel-tertiary" [ngClass]="{'panel-tertiary': u.levelId == 1, 
'panel-secondary': u.levelId == 2,' panel-quartenary' : u.levelId == 3}" id="panel-3" data-portlet-item>
  <header class="panel-heading ">
    <div class="panel-actions">

    </div>
    <h2 class="panel-title">{{u.universityName}}</h2>
  </header>
  <div class="panel-body">
    <img src="{{u.avatar}}"/>
     </div>
</section>
</div>

  <div *ngFor="let l of Levels">
    <div>{{l.levelName}}</div>
  </div>
</div>
